/* success 2 */
/* danger */
/* danger 2 */
/* upload */
/* btn-gray */
body {
  padding: 0 20px 20px 20px;
}
/* CSS */
article.qvobject {
  /*position:absolute;*/
  overflow: hidden;
  padding: 10px;
}
.radio-button-filter {
  /*position: absolute;
    top:100px;*/
  width: 180px;
  height: 35px;
  padding: 10px;
}
.tabs,
#tabs {
  display: inline-block;
}
.tab {
  display: inline-block;
  padding-top: 50px;
}
.hide {
  display: none;
}
.filter_block {
  width: 180px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.filter_block .filter_item {
  width: 180px;
  height: 50px;
}
.qv-listbox li.selected,
.qv-listbox .serverSelected,
.qv-listbox .serverLocked {
  background-color: #fa7000;
}
.qv-state-count-bar .state.selected {
  background-color: #fa7000;
}
.touch-off .sel-toolbar-list .sel-toolbar-confirm:hover:not(:active),
.touch-off .sel-toolbar-list .sel-toolbar-confirm:focus:not(:active) {
  background: #016bb7;
  border-color: #016bb7;
}
.sel-toolbar-list button {
  border-radius: 0;
}
.sel-toolbar-confirm {
  border: 2px solid #014d84;
  background-color: #014d84;
}
.sel-toolbar-btn:active:not(:disabled) {
  background-color: #204d74;
  border-color: #122b40;
}
.sel-toolbar-list .sel-toolbar-confirm:disabled,
.sel-toolbar-list .sel-toolbar-confirm:disabled {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.sel-toolbar-list .sel-toolbar-confirm:disabled,
.sel-toolbar-list .sel-toolbar-confirm:disabled:hover {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.sel-toolbar-cancel {
  background: #E02929;
  border-color: #E02929;
}
.touch-off .sel-toolbar-list .sel-toolbar-cancel:hover:not(:active),
.touch-off .sel-toolbar-list .sel-toolbar-cancel:focus:not(:active) {
  background: #e65656;
  border-color: #e65656;
}
.sel-toolbar-cancel.sel-toolbar-btn:active:not(:disabled) {
  background: #bb1b1b;
  border-color: #bb1b1b;
}
.filter_block .lui-icon--triangle-right:before {
  font: normal normal normal 14px/1 FontAwesome !important;
  content: "\f078" !important;
  color: #bcbcbc !important;
  height: 26px;
  line-height: 26px;
}
.qv-state-count-bar .state.optional {
  background: #D2D2D2;
}
/* success 2 */
/* danger */
/* danger 2 */
/* upload */
/* btn-gray */

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLmxlc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6Ijs7Ozs7QUFFQTtFQUNBLHlCQUFBOzs7QUFJQSxPQUFBOztFQUVBLGdCQUFBO0VBQ0EsYUFBQTs7QUFHQTs7O0VBR0EsWUFBQTtFQUNBLFlBQUE7RUFDQSxhQUFBOztBQUdBO0FBQUE7RUFDQSxxQkFBQTs7QUFHQTtFQUNBLHFCQUFBO0VBQ0EsaUJBQUE7O0FBR0E7RUFDQSxhQUFBOztBQUdBO0VBQ0EsWUFBQTtFQUNBLHFCQUFBO0VBQ0Esa0JBQUE7RUFDQSxtQkFBQTs7QUFHQSxhQUFBO0VBQ0EsWUFBQTtFQUNBLFlBQUE7O0FBR0EsV0FBQSxHQUFBO0FBQUEsV0FBQTtBQUFBLFdBQUE7RUFDQSx5QkFBQTs7QUFHQSxtQkFBQSxPQUFBO0VBQ0EseUJBQUE7O0FBR0EsVUFBQSxrQkFBQSxxQkFBQSxNQUFBLElBQUE7QUFBQSxVQUFBLGtCQUFBLHFCQUFBLE1BQUEsSUFBQTtFQUNBLG1CQUFBO0VBQ0EscUJBQUE7O0FBR0EsaUJBQUE7RUFDQSxnQkFBQTs7QUFHQTtFQUNBLHlCQUFBO0VBQ0EseUJBQUE7O0FBR0EsZ0JBQUEsT0FBQSxJQUFBO0VBQ0EseUJBQUE7RUFDQSxxQkFBQTs7QUFHQSxpQkFBQSxxQkFBQTtBQUFBLGlCQUFBLHFCQUFBO0VBQ0EseUJBQUE7RUFDQSxxQkFBQTs7QUFHQSxpQkFBQSxxQkFBQTtBQUFBLGlCQUFBLHFCQUFBLFNBQUE7RUFDQSx5QkFBQTtFQUNBLHFCQUFBOztBQUdBO0VBQ0EsbUJBQUE7RUFDQSxxQkFBQTs7QUFHQSxVQUFBLGtCQUFBLG9CQUFBLE1BQUEsSUFBQTtBQUFBLFVBQUEsa0JBQUEsb0JBQUEsTUFBQSxJQUFBO0VBQ0EsbUJBQUE7RUFDQSxxQkFBQTs7QUFFQSxtQkFBQSxnQkFBQSxPQUFBLElBQUE7RUFDQSxtQkFBQTtFQUNBLHFCQUFBOztBQUdBLGFBQUEsMEJBQUE7RUFDQSw2Q0FBQTtFQUNBLFNBQUEsT0FBQTtFQUNBLHlCQUFBO0VBQ0EsWUFBQTtFQUNBLGlCQUFBOztBQWVBLG1CQUFBLE9BQUE7RUFDQSxtQkFBQSIsImZpbGUiOiJzdHlsZS5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAaW1wb3J0IFwidGhlbWVfY29sb3JzXCI7XG5cbmJvZHkge1xuICAgIHBhZGRpbmc6IDAgMjBweCAyMHB4IDIwcHg7XG59XG5cbi8qIENTUyAqL1xuYXJ0aWNsZS5xdm9iamVjdCB7XG4gICAgLypwb3NpdGlvbjphYnNvbHV0ZTsqL1xuICAgIG92ZXJmbG93OiBoaWRkZW47XG4gICAgcGFkZGluZzogIDEwcHg7XG59XG5cbi5yYWRpby1idXR0b24tZmlsdGVyIHtcbiAgICAvKnBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICB0b3A6MTAwcHg7Ki9cbiAgICB3aWR0aDogICAxODBweDtcbiAgICBoZWlnaHQ6ICAzNXB4O1xuICAgIHBhZGRpbmc6IDEwcHg7XG59XG5cbi50YWJzLCAjdGFicyB7XG4gICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xufVxuXG4udGFiIHtcbiAgICBkaXNwbGF5OiAgICAgaW5saW5lLWJsb2NrO1xuICAgIHBhZGRpbmctdG9wOiA1MHB4O1xufVxuXG4uaGlkZSB7XG4gICAgZGlzcGxheTogbm9uZTtcbn1cblxuLmZpbHRlcl9ibG9jayB7XG4gICAgd2lkdGg6ICAgICAgICAgIDE4MHB4O1xuICAgIGRpc3BsYXk6ICAgICAgICBpbmxpbmUtYmxvY2s7XG4gICAgcG9zaXRpb246ICAgICAgIHJlbGF0aXZlO1xuICAgIHZlcnRpY2FsLWFsaWduOiB0b3A7XG59XG5cbi5maWx0ZXJfYmxvY2sgLmZpbHRlcl9pdGVtIHtcbiAgICB3aWR0aDogIDE4MHB4O1xuICAgIGhlaWdodDogNTBweDtcbn1cblxuLnF2LWxpc3Rib3ggbGkuc2VsZWN0ZWQsIC5xdi1saXN0Ym94IC5zZXJ2ZXJTZWxlY3RlZCwgLnF2LWxpc3Rib3ggLnNlcnZlckxvY2tlZCB7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogI2ZhNzAwMDtcbn1cblxuLnF2LXN0YXRlLWNvdW50LWJhciAuc3RhdGUuc2VsZWN0ZWQge1xuICAgIGJhY2tncm91bmQtY29sb3I6ICNmYTcwMDA7XG59XG5cbi50b3VjaC1vZmYgLnNlbC10b29sYmFyLWxpc3QgLnNlbC10b29sYmFyLWNvbmZpcm06aG92ZXI6bm90KDphY3RpdmUpLCAudG91Y2gtb2ZmIC5zZWwtdG9vbGJhci1saXN0IC5zZWwtdG9vbGJhci1jb25maXJtOmZvY3VzOm5vdCg6YWN0aXZlKSB7XG4gICAgYmFja2dyb3VuZDogIzAxNmJiNztcbiAgICBib3JkZXItY29sb3I6ICMwMTZiYjc7XG59XG5cbi5zZWwtdG9vbGJhci1saXN0IGJ1dHRvbiB7XG4gICAgYm9yZGVyLXJhZGl1czogMDtcbn1cblxuLnNlbC10b29sYmFyLWNvbmZpcm0ge1xuICAgIGJvcmRlcjogMnB4IHNvbGlkICMwMTRkODQ7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogIzAxNGQ4NDtcbn1cblxuLnNlbC10b29sYmFyLWJ0bjphY3RpdmU6bm90KDpkaXNhYmxlZCkge1xuICAgIGJhY2tncm91bmQtY29sb3I6ICMyMDRkNzQ7XG4gICAgYm9yZGVyLWNvbG9yOiAjMTIyYjQwO1xufVxuXG4uc2VsLXRvb2xiYXItbGlzdCAuc2VsLXRvb2xiYXItY29uZmlybTpkaXNhYmxlZCwgLnNlbC10b29sYmFyLWxpc3QgLnNlbC10b29sYmFyLWNvbmZpcm06ZGlzYWJsZWQge1xuICAgIGJhY2tncm91bmQtY29sb3I6ICMzMzdhYjc7XG4gICAgYm9yZGVyLWNvbG9yOiAjMmU2ZGE0O1xufVxuXG4uc2VsLXRvb2xiYXItbGlzdCAuc2VsLXRvb2xiYXItY29uZmlybTpkaXNhYmxlZCwgLnNlbC10b29sYmFyLWxpc3QgLnNlbC10b29sYmFyLWNvbmZpcm06ZGlzYWJsZWQ6aG92ZXIge1xuICAgIGJhY2tncm91bmQtY29sb3I6ICMzMzdhYjc7XG4gICAgYm9yZGVyLWNvbG9yOiAjMmU2ZGE0O1xufVxuXG4uc2VsLXRvb2xiYXItY2FuY2VsIHtcbiAgICBiYWNrZ3JvdW5kOiAjRTAyOTI5O1xuICAgIGJvcmRlci1jb2xvcjogI0UwMjkyOTtcbn1cblxuLnRvdWNoLW9mZiAuc2VsLXRvb2xiYXItbGlzdCAuc2VsLXRvb2xiYXItY2FuY2VsOmhvdmVyOm5vdCg6YWN0aXZlKSwgLnRvdWNoLW9mZiAuc2VsLXRvb2xiYXItbGlzdCAuc2VsLXRvb2xiYXItY2FuY2VsOmZvY3VzOm5vdCg6YWN0aXZlKSB7XG4gICAgYmFja2dyb3VuZDogI2U2NTY1NjtcbiAgICBib3JkZXItY29sb3I6ICNlNjU2NTY7XG59XG4uc2VsLXRvb2xiYXItY2FuY2VsLnNlbC10b29sYmFyLWJ0bjphY3RpdmU6bm90KDpkaXNhYmxlZCkge1xuICAgIGJhY2tncm91bmQ6ICNiYjFiMWI7XG4gICAgYm9yZGVyLWNvbG9yOiAjYmIxYjFiO1xufVxuXG4uZmlsdGVyX2Jsb2NrIC5sdWktaWNvbi0tdHJpYW5nbGUtcmlnaHQ6YmVmb3JlIHtcbiAgICBmb250OiBub3JtYWwgbm9ybWFsIG5vcm1hbCAxNHB4LzEgRm9udEF3ZXNvbWUgIWltcG9ydGFudDtcbiAgICBjb250ZW50OiBcIlxcZjA3OFwiICFpbXBvcnRhbnQ7XG4gICAgY29sb3I6ICNiY2JjYmMgIWltcG9ydGFudDtcbiAgICBoZWlnaHQ6IDI2cHg7XG4gICAgbGluZS1oZWlnaHQ6IDI2cHg7XG59XG5cbi5xdi1jb2xsYXBzZWQtbGlzdGJveCAudGl0bGUtd3JhcHBlciAubHVpLWljb24tLXRyaWFuZ2xlLWxlZnQge1xuXG59XG5cbi5xdi1jb2xsYXBzZWQtbGlzdGJveCAudGl0bGUtd3JhcHBlciAubHVpLWljb24tLXRyaWFuZ2xlLWxlZnQsIC5xdi1jb2xsYXBzZWQtbGlzdGJveCAudGl0bGUtd3JhcHBlciAubHVpLWljb24tLXRyaWFuZ2xlLXJpZ2h0IHtcblxufVxuXG4ucXYtc3RhdGUtY291bnQtYmFyIC5zdGF0ZS5hbHRlcm5hdGl2ZSB7XG5cbn1cblxuLnF2LXN0YXRlLWNvdW50LWJhciAuc3RhdGUub3B0aW9uYWwge1xuICAgIGJhY2tncm91bmQ6ICNEMkQyRDI7XG59XG4iXSwic291cmNlUm9vdCI6Ii9zb3VyY2UvIn0= */
